@charset "UTF-8";
@font-face {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;
    font-display: block;
    src: url(./../font/icomoon/icomoon.woff) format("woff");
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 100;
    src: local("Spoqa Han Sans Thin"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2") format("woff2"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff") format("woff"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 300;
    src: local("Spoqa Han Sans Light"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2") format("woff2"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff") format("woff"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    src: local("Spoqa Han Sans Regular"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2") format("woff2"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff") format("woff"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 500;
    src: local("Spoqa Han Sans Medium"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2") format("woff2"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff") format("woff"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    src: local("Spoqa Han Sans Bold"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2") format("woff2"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff") format("woff"), url("./../font/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    height: 100%;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    color: #333;
    font-family: Spoqa Han Sans Neo, Apple SD Gothic Neo, '돋움', Dotum, Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

dl, dt, dd {
    margin: 0;
}

address {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    padding: 0;
}

button, input, select, textarea {
    margin: 0;
    font: inherit;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
